body {
    /*  font-family: 'Source Sans Pro', sans-serif;*/
  font-family: 'Source Sans Pro', sans-serif;
    background-color: #FAFAFA;
    color: #252F46;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
    text-align: justify;
}

a {
    outline: 0;
    text-decoration: none;
}

h1, h2, h3, h4 {
  font-family: "Source Sans Pro", sans-serif;
}

.container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.header {
    display: block;
    background-color: #333;
    height: 62px;
}

.navigation {
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    list-style-type: none;
    margin-right: 0;
    margin-left: 0px;
    padding-left: 20px;
    margin-top: -1px;
}

.navigation li {
    padding: 20px 0px;
}


.navigation li a {
    color: #FFF;
    text-decoration: none;
    padding: 20px 30px;
    min-width: 48px;
}

.navigation li a:hover {
    background-color: #666;
}

.nav-left-side {
    display:inline-flex;
}

.nav-push {                     /*Pushne Sign in na desno!*/
    display: inline-flex;
    flex-grow: 2;
}

.nav-right-side {
    display: inline-flex;
    margin-right: 20px;
}

.nav-right-side li {
    padding: 20px 0px;
}

.navigation-slider {
    display: none;
}

.body {
    padding-top: 5em;
    flex: 2;
}

.body p {
    padding: 0 3px;
}


.logo {
    padding-bottom: 5em;

}

.footer {
    margin-top: 100px;
    width: 100%;
    display: block;
    background-color: #333;
    height: 180px;
    color: white;
}

.back-to-top {
    text-align: center;
    border: 2px solid #FFF;
    min-height: 40px;
    padding-top: 6px;
    margin-top: -6px;
    min-width: 120px;
    width: 120px;
    height: 34px;
    border-radius: 4px;
    user-select: none;
    cursor: pointer;
}

.back-to-top:hover {
    color: #333;
    background-color: #FFF;
    cursor: pointer;
}

  .my-row {
      margin: 100px 0px;
      display: flex;
      flex-direction: row;
      width: 100%;
  }

.row-100 {
    display: flex;
    margin: 100px 0px;
    width: 100%;
}

.part-50 {
    display: block;
    width: 50%;
    text-align: center;
}

.width-100px {
    max-width: 100px;
}


.left-side {
    width: 200px;
    order: 1;
}

.middle-side {
    display: inline-flex;
    flex-grow: 2;
    order: 2;
}
.right-side {
    width: 200px;
    order: 3;

}

.left-side ul {
    display: inline-flex;
    flex-direction: column;
}

.right-side ul {
    display: inline-flex;
    flex-direction: column;
}

.comment-area {                             /*comment-text + .btn-post together*/
    display: block;
    margin-bottom: 20px;
}

.comment-text {
    margin-top: 40px;
    resize: none;
    width: 100%;
    display: block;
    z-index: 1;
}

.btn-post {                               /*button to post comments */
    float: right;
    display: block;
    cursor: pointer;
    background-color: #2727A4;
    color: #FFF;
    font-weight: 500;
    margin-top: 2%;
    margin-bottom: 40px;
    border-radius: 4px;
    padding: 8px 25px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
     background: -webkit-linear-gradient(top, #3d3d91, #2727a4);
   background: -o-linear-gradient(top, #3d3d91, #2727a4);
    border: 1px solid black;
    -webkit-border-radius: 1px solid black;
    -moz-border-radius: 1px solid black;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.btn-post:hover {
    background: #3838cc;
}

.btn-post:active {                          /*on click color change*/
    background: #252571;
}

.posts {
    margin: 0 auto;
    text-align: justify;
    list-style-type: none;
}

.posts li {
    background-color: #FFF;
    padding: 10px 20px;
    border: 1px solid #d8d8d8;
    word-wrap: break-word;
    min-height: 42px;
    margin-bottom: 10px;
}

.user-actions {                           /*bar to edit, delete, reply messages */
    display: none;
}

.btn-user-actions {
    height: 30px;
    padding: 0 3px;
}

.disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.65;
}

.navigation-button {
    display: none;
}

     .my-row2 {
        display: flex;
        margin-top: 70px;
        margin-bottom: 0px;
        flex-direction: column;
        width: 100%;
    }

    .centered-list {
        text-align: center;
        margin: 50px auto;
        display: inline-flex;
        justify-content: center;
        flex-direction: column;
    }

        .footer .unit-20 .language {
        margin-left: 35px;
        width: auto;
        min-width: 68px;
            max-width: 80px;
            height: 48px;
        padding-top: 10px;
            padding-left: 10px;
            margin-top: -10px;
            cursor: pointer;
            user-select: none;
    }

    .language:hover {
        color: #666;
    }

    a .language{
        color: #FFF;
    }

  .small-image {
    display: flex;
    margin: 40px auto;
  }


@media screen and (min-width: 802px) {
    .body {
        max-width: 800px;
        margin: 0 auto;
        text-decoration: none;
    }

    .logo {
        display: flex;
        max-width: 800px;
        width: 100%;
        margin: 0 auto;
    }




    .footer {
        height: 180px;

    }

    .footer .units-row {
        position: absolute;
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        margin-top: 80px;
  }
    .footer .unit-60 {
        display: block;
        text-align: center;
    }

    .footer .unit-20 .back-to-top {
        float: right;
        margin-right: 35px;
    }

}

@media screen and (min-width: 651px) and (max-width: 801px) {
    .body {
        max-width: 800px;
        margin: 0 auto;
    }

    .logo {
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
    }

    .my-row {
        display: flex;
        margin-top: 70px;
        margin-bottom: 70px;
        flex-direction: column;
        width: 100%;
    }

    .left-side {
        text-align: center;
        margin: 50px auto;
        display: inline-flex;
        justify-content: center;
        flex-direction: column;

    }

    .right-side {
        text-align: center;
        margin: 50px auto;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;

    }

    .footer {
        height: 180px;
    }

    .footer .units-row {
        position: absolute;
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        margin-top: 80px;
  }
    .footer .unit-60 {
        display: block;
        text-align: center;
    }

    .footer .unit-20 .back-to-top {
        float: right;
        margin-right: 35px;
    }



}

@media screen and (max-width: 650px) {
    body {
        overflow-x: hidden;
          }

    .navigation li {
        display: none;
    }

     .navigation-button:hover {
        color: #666;
        cursor: pointer;

    }

    .navigation-button {
        display: inline-flex;
        color: #FFF;
       margin-right: 25px;
        margin-top: 8px;
        padding: 2px 4px;
        user-select: none;
    }

    .navigation-slider {
         background: #333;
           display: block;
           position: absolute;
           right: -200px;
           height: 100%;
           width: 200px;
           z-index: 1000; !important
        border-bottom: 1px solid #333;
        margin-top: -20px;
    }

    .navigation-slider ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .navigation-slider li {
        width: 100%;
         text-align: center;
       }

    .navigation-slider a{
        color: #FFF;
        line-height: 50px;
        width: 100%;
        padding: 15px 90px;
    }

    .navigation-slider a:hover {
        background-color: #666;
    }


    .body p {
        padding: 0 3px;
    }

     .my-row {
        display: flex;
        margin-top: 70px;
        margin-bottom: 70px;
        flex-direction: column;
        width: 100%;
    }

    .left-side {
        text-align: center;
        margin: 50px auto;
        display: inline-flex;
        justify-content: center;
        flex-direction: column;

    }

    .right-side {
        text-align: center;
        margin: 50px auto;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;

    }


    .footer {
        height: 210px;
    }

    .footer .units-row {
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
        margin-top: 15px;
        height: 180px;
        margin-bottom: 0;
        }

    .footer .unit-60 {
        text-align: center;

    }

    .footer .unit-20 {
        display: inline-flex;
        justify-content: center;
        margin: 10px 0;
    }

    .footer .unit-20 .language {
        margin-left: 0px;
        width: 120px;
        text-align: center;
        padding-left: 0px;
    }


}
