body {
   background-color: #f9f9f9;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
 }


.container {
    flex: 1;
}

a, a:visited, a:focus, a:active, a:hover{
    outline:0 none !important;
    text-decoration: none;
}

.disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.65;
}

.topbar {
    background-color: #66595C;
    height: 40px;
    width:  100%;
    position: absolute;
    }

.topbar-logo {
    display: inline-flex;
    float: right;
      }

.topbar-menu {
}

.topbar-menu ul {
      display: inline-block;
 }

.topbar-menu ul li {
    display: inline-block;
    justify-content: center;
    margin-top: 10px;
    margin-left: 20px;
}

.topbar-menu a {
    display: inline-block;
    color: #FFF;
    cursor: pointer;
    width: auto;
    height: 40px;
    padding: 8px 0px;
    margin-top: -40px;
}

.topbar-menu a:hover {
    color: #81C08B;
    text-decoration: none;
}

/*
.btn1 {
    position: relative;
    cursor: pointer;
    display: inline-block;
    width: auto;
    height: 40px;
    color: white;
    margin-top: -10px;
    padding: 8px 0px;
  /*  border: 1px solid red; !important
}

.btn1:hover {
    color: #81C08B;
}

*/

.btn-transparent {
    display: inline-flex;
    cursor: pointer;
    color: #FFF;
    margin-top: 40px;
    float: right;
}

.btn-transparent a {
    color: #FFF;
    text-decoration: none;
}

.btn-transparent a:hover {
    color: #81C08B;
}

.topbar-menu-box {
    display: none;
}

.topbar-dropdown {     /* ce ni none potem dela*/
    display: none;
}

.current-link {
    color: #81CO8B;
}

.container {
    line-height: 1.7;
}

.main-banner {
  margin-top: 5%;
    margin-bottom: 5%;
    display: none;
}
/*
.main-banner2 {
    margin: 5% 0%;
    position: absolute;
  }
*/
.pull-left {
    float: left;
}

.pull-right {
    float: right;
}
/* Comments*/
.comment-area {                             /*comment-text + .btn-post together*/
    display: block;
    margin-bottom: 20px;
}

.comment-text {
    margin-top: 40px;
    resize: none;
    width: 100%;
    display: block;
}

.btn-post {                               /*button to post comments */
    float: right;
    display: block;
    cursor: pointer;
    background-color: #2727A4;
    color: #FFF;
    font-weight: 500;
    margin-top: 2%;
    margin-bottom: 40px;
    border-radius: 4px;
    padding: 8px 25px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
     background: -webkit-linear-gradient(top, #3d3d91, #2727a4);
   background: -moz-linear-gradient(top, #3d3d91, #2727a4);
   background: -ms-linear-gradient(top, #3d3d91, #2727a4);
   background: -o-linear-gradient(top, #3d3d91, #2727a4);
    border: 1px solid black;
    -webkit-border-radius: 1px solid black;
    -moz-border-radius: 1px solid black;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.btn-post:hover {
    background: #3838cc;
}

.btn-post:active {                          /*on click color change*/
    background: #252571;
}

.posts {
    width: 100%;
}

.posts li {
    background-color: #FFF;
    padding: 10px 20px;
    border: 1px solid #d8d8d8;
    word-wrap: break-word;
    min-height: 42px;
    margin-bottom: 10px;
}

.user-actions {                           /*bar to edit, delete, reply messages */
    display: none;
}

.btn-user-actions {
    height: 30px;
    padding: 0 3px;
}

/* media */
@media only screen and (max-width:991px){

    .topbar-logo{
        display: none;
    }
    
    .button-transparent {
        
    }
    
}

.footer {
    position: flex;
    background-color: #333;
    width: 100%;
    height: 120px;
    overflow: hidden;
    margin-top: 10%;
    color: white;
    
    }

.footer-menu {
    position: relative;
    margin-top: 45px;
}

.col-left {
    width: 25%;
    float: left;
}

.col-middle {
    display: flex;
    width: 50%;
    float: left;
    justify-content: center;
    
}

.col-right {
    width: 25%;
    float: left;
}

.back-to-top {
    min-width: 110px;
    min-height: 34px;
    display: inline-block;
    float: right;
    margin-right: 35px;
    padding: 5px 10px;
    height: 34px;
    border-radius: 4px;
    border: 2px solid white;
    cursor: pointer;
      user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    
}

.back-to-top:hover {
    color: #333;
    background-color: #fff;
    height: 32px;
    border-radius: 4px;
    border: 2px solid #333;
}


@media screen and (max-width:768px){
          body {
           left: 0;
           margin: 0;
           overflow-x: hidden;
           position: relative;
           background-color: #f9f9f9;
       }
    
     .topbar-menu{
        display: none;
    }
    
    .topbar-menu-box {
        display: inline-block;
        position: relative;
        float: right;
        color: #fff;
        margin-top: 2px;
        margin-right: 5%;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        border-radius: 2px;
    }
    
    .topbar-menu-box:hover {
        display: inline-block;
        color: #66595C;
        background-color: #fff;
        cursor: pointer;
    
    }
    
       .topbar-dropdown {
           background: #66595C;
           display: block;
           position: fixed;
           right: -200px;
           height: auto;
           width: 200px;
           z-index: 1;
           margin-top: 1px;
           opacity: 1;
       }

        .topbar-dropdown ul {
           border-top: 1px solid #636366;
           list-style: none;
           margin: 0;
           padding: 0;
       }
    
       .topbar-dropdown li {
           text-align: center;
          border-bottom: 1px solid #636366;
           line-height: 30px;
           padding-bottom: 3px;
           padding-left: 20px;
           padding-top: 3px;
       }
    
        .topbar-dropdown a {
            color: #fff;
        }
    
      .topbar-dropdown a:hover {
           color: #81C08B;
           text-decoration: none;
       }
    
}

@media screen and (max-width: 650px){
    .footer {
        height: 250px;
    }
    
    .footer-menu {
        width: 100%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: nowrap;
    }
    
    .col-middle {
        display: inline-flex;
        order: 0;
        width: 100%;
    }
    
    .col-right {
        display: inline-flex;
        min-width: 100%;
        margin-top: 80px;
        justify-content: center;
    }
    
    .back-to-top{
        order: 1;
        margin-right: 0;
        justify-content: center;
    }
}

@media screen and (max-width:450px){
body {
        }
    
    .main-banner{
        margin-top: 40px;
    }

    .flexcontainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    
    
    
}
 

