@font-face {
  font-family: "font1";
  src: url("font1.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

h1, h2, h3 {
  font-family: "font1";
  font-weight: normal;
}

h2 {
  font-size: 30px;
}

h1 {
  letter-spacing: 3px;
}

body {
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  overflow-x: hidden;
}

p {
  font-size: 16px;
  line-height: 1.4;
}

/* select color */

::-moz-selection {
  background-color: #b5d6fd;
  color: #000;
}
::selection {
  background-color: #b5d6fd;
  color: #000;
}

.navbar {
  position: fixed;
  z-index: 100;
  border-bottom: 1px solid white;

}

.navbar ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  -webkit-transition: color 0.3s ease-in;
          transition: color 0.3s ease-in;
  padding: 10px 20px;
}

.navbar a:hover {
  color: #000;
}

.navbar li {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.navbar-links {
  color: #fff;
  cursor: pointer;
  -webkit-transition: color 0.3s ease-in;
          transition: color 0.3s ease-in;
  padding: 10px 20px;
  min-height: 42px;
}

.navbar-links:hover {
  color: #000;
}

.navbar-visible {
  background-color: rgba(255,255,255, 1);
  transform: matrix(1,0,-1,1,0,0);
  transform-origin: 0 0;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 0 20px;
}

.navbar-menu {
}

.navbar-visible .navbar-links {
  color: #000;
  transform: matrix(1,0,1,1,0,0);
}

.navbar-visible a {
  color: #000 !important;
  transform: matrix(1,0,1,1,0,0);
}

.intro {
  width: 100%;
}

.intro-background {
  background: url("construction2.png") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  padding: 0 0;
  margin: 0 0;
  opacity: 1;
}

.intro-background-overlay {
  position: absolute;
  background-color: #000;
  height: 100vh;
  width: 100%;
  opacity: 0.3;
  z-index: 10;
  top: 0;
  left: 0;
}

.intro-text {
  position: absolute;
  width: 100%;
  height: auto;
  top: 50%;
  margin-top: -150px;
  color: #fff;
  text-shadow: 3px 3px 0 #000;
  text-align: center;
  z-index: 11;
}

.underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #000;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.underline-from-left:hover:before, underline-from-left:focus:before, .underline-from-left:active:before {
  right: 0;
}

.intro-text h1 {
  font-size: 4em;
}

.intro-links {
  margin-top: 150px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slide-2 {
  width: 100%;
  background-color: #212121;
  color: #fff;
  padding: 40px 0;
}

.slide-2 .content {
  list-style-type: none;
}

.slide-2 .content li {
  margin: 200px 0 200px 0;
  list-style-position: inside;
}

.slide-2 .bullets li {
  margin: 0 0;
}

.container {
  max-width: 1100px;
  margin: 100px auto 100px auto;
  padding: 0 10px;
}

.projects {
  margin: 40px 0;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects a{
  text-decoration: none;
}

.item {
  color: #fff;
  border: 1px solid #fff;
  border-radius: 6px;
  border-color: rgba(255, 255, 255, 0.1);
  min-width: 400px;
  max-width: 400px;
  min-height: 400px;
  max-height: 400px;
  -webkit-transition: 0.3s linear;
          transition: 0.3s linear;
  margin: 10px 10px;
  opacity: 1;
  position: relative;
  overflow: hidden;
}

.item p, h4 {
  padding: 0 20px 0 20px;
}

.item:hover {
  color: #fff;
  border-color: #fff;
  cursor: pointer;
  opacity: 1;
  box-shadow: 0px 0px 8px 4px rgba(255,255,255,0.3);
}

.item h4 {
  text-align: center;
  font-weight: normal;
}

.thumbnail {
  display: block;
  margin: 20px auto 0 auto;
  max-width: 100%;
  max-height: 380px;
}

.item-title {
  font-size: 24px;
  color:  #2196f3;
  line-height: 60px;
  background: #191919;
  height: 60px;
  font-weight: bold;
  width: 100%;
  bottom: 0;
  position: absolute;
  text-align: center;
  border-radius: 0 0 6px 6px;
}

.item-overlay-content {
  transform: translateX(-100%);
  transition: 0.3s ease-in;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  position: absolute;
  padding: 0px 30px;
  font-size: 18px;
  line-height: 2;
}

.description {
  top: 46%;
  transform: translateY(-46%);
  position: relative;
  text-align: justify;
}

.item:hover .item-overlay-content {
  transform: translateX(0px);
}

.projects-container {
  max-width: 1300px;
  margin: 0 auto;
}

.contact-me {
  width: 100%;
  max-width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-me-details {
  padding: 20px;
  width: auto;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  min-height: 351px;
}

.contact-me-title {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
          transform: rotate(-90deg);
}

.email-picture {
  max-height: 20px;
  max-width: 60px;
}

.contact-me-email {
  padding: 0 0;
}

.same-line {
  display: flex;
  margin: 20px 0 0 30px;
  padding: 0 0;
}

.turn-90 {
  font-size: 2em;
  text-decoration: underline;
  padding: 0 70px;
  white-space: nowrap;
}

.end {
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
}

.main-footer {
  background-color: #191919;
  width: 100%;
  min-height: 300px;
  color: #fff;
  position: relative;
}

#laptop-picture {
  position: relative;
  float: right;
  display: block;
  max-width: 100%;
  overflow-x: hidden;
}

#back-to-top {
  float: left;
}

#navbar-menu-mobile {
  display: none;
}

.modal-background {
  display: none;
}

.modal {
  display: none;
}

.arrow {
  width: 40px;
  height: 40px;
  fill: #fff !important;
  opacity: 0.4;
}

.arrow:hover {
  opacity: 1;
}

.to-top {
  width: 40px;
  height: 40px;
  border: 2px;
  opacity: 0.4;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.to-top:hover {
  opacity: 1;
}

.to-top:hover {
  opacity: 1;
  cursor: pointer;
}

/* BUTTONS */
button {
  border: 1px solid #000;
  border-radius: 0px;
  background: #000;
  color: #fff;
  height: 48px;
  width: auto;
  min-width: 110px;
  font-size: 16px;
  cursor: pointer;
  margin: 20px 10px 0 0;
  -webkit-transition: .1s all ease;
          transition: .1s all ease;
  font-family: "Lato", sans-serif;
}

button:hover {
  color: #fff;
  background-color: #27292a;
}

.blue {
  background: #2727a4;
  border: 1px solid #2727a4;
  -webkit-transition: 0.3s linear;
          transition: 0.3s linear;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
 }

.blue:hover {
  background: rgba(39,39,164, 0.6);
  opacity: 0.9;
 }


.blue.outline {
  background: #fff;
  border: 1px solid #2727a4;
  color: #2727a4; }

.blue.outline:hover {
  background: #2727a4;
  color: #fff;
  opacity: 1; }

.link {
  color: #ff002b;
}

.certificate {
  margin: 40px auto 0 auto;
  display: block;
  max-width: 100%;
}

.margin-top-70 {
  margin-top: 70px;
}

/* media screens */
@media screen and (max-width: 650px) {
  .intro-links {
    -webkit-flex-flow: column;
        -ms-flex-flow: column;
            flex-flow: column;
    max-width: 120px;
    margin: 50px auto 0 auto;
  }

  .intro-background {
    background: url("construction2.png") no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    padding: 0 0;
    margin: 0 0;
    opacity: 1;
  }

  .container {
    padding: 0 5px;
  }

  .contact-me {
    flex-flow: column;
  }

  .contact-me-title {
    transform: rotate(0deg);
    padding-bottom: 40px;
    align-self: auto;
  }

  .contact-me-title h2 {
    font-size: 24px;
    text-decoration: none;
  }

  #laptop-picture {
    margin-top: 50px;
  }

  .item-overlay-content {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .navbar {
    width: 100%;
    z-index: 100;
    transform: skew(0);
    padding: 0 0;
  }

  #navbar-menu {
    display: none;
  }

  #navbar-menu-mobile {
    display: inline-block;
    z-index: 110;
  }

  .modal-close {
    padding: 5px 5px;
    transition: 0.3s linear;
    width: 50px;
    height: auto;
    text-align: center;
    opacity: 0.6
  }

  .modal-close:hover {
    color: #fff;
    cursor: pointer;
    opacity: 1;
  }

  .modal {
    opacity: 1;
    display: none;
    position: fixed;
    top: 48px;
    width: 200px;
    height: auto;
    width: 100%;
    padding: 20px 20px;
    background-color: #333;
    color: #fff;
    z-index: 102;
  }

  .modal li {
    list-style-type: none;
    color: #fff;
    font-size: 25px;
    padding: 20px 20px;
    text-align: center;
    transition: 0.3s linear;
    font-family: "font1";
    font-weight: normal;
    opacity: 1;
    }

  .modal li:hover {
    cursor: pointer;
  }

  .modal a {
    color: #fff;
    text-decoration: none;
  }

  .modal-background {
    display: none;
    background-color: #000;
    opacity: 0.4;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 101;
  }

  .c-hamburger-clicked {
    transform: rotate(90deg);
  }

  .c-hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0 10px;
  padding: 0;
  width: 50px;
  height: 48px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background 0.3s;
          transition: background 0.3s;
          -webkit-transition: 0.6s;
                  transition: 0.6s;
}

.c-hamburger:focus {
  outline: none;
}

.c-hamburger:hover {
/*  background-color: #000;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);*/
}

.c-hamburger span {
  display: block;
  position: absolute;
  top: 22px;
  left: 10px;
  right: 10px;
  height: 4px;
  background-color: #000;
}

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #000;
  content: "";
}

.c-hamburger span::before {
  top: -10px;
}

.c-hamburger span::after {
  bottom: -10px;
}

.c-hamburger-black {
  background-color: #000!important;
}

.projects-container {
  padding: 0 5px;
}

.projects {
  padding: 0 5px;
}

.item {
  opacity: 1;
  padding: 0 0;
  margin: 20px 0;
  max-width: 300px;
  min-width: 300px;
}

.item-overlay-content {
  padding: 0 3px;
  display: none;
}

.thumbnail {
}

}
